
header{
    background-color: #212658;
    text-align: center;
}

#history{
    border-top: solid lightgray;
}

button {
    width: 100%;
    border: none;
    margin: 5px;
}

.border-box {
    border:solid ;
    border-color: black;
}
.data{

    width: 100%;
}
.blue-background{
    background-color: #212658;
    color: white;
}